
@{
    ViewData["Title"] = "AccessDenied";
}

<h2>AccessDenied</h2>
<div class="h3">Oops, You are not authorized to view this resource</div>
<div>If you would like to login as someone else, please <a asp-controller="Gallery" asp-action="Logout">Logout</a> and login.</div>

